body {
  background-color: silver;
  min-width: 1024px;
}

h1 {
  font-family: 'Bungee Shade', bold;
  font-size: 80px;
  text-align: center;
  color: black;
  display: inline;
  min-width: 100%;
}

h2 {
  font-family: 'Rubik', sans-serif;
  color: black;
  width: auto;
  display: inline-block;
}

ul {
  display: inline;
  min-width: 50%;
}

ol {
  display: inline;
  min-width: 50%;
}

li {
  display:list-item;
}
